.icon-search {
	width: 3rem;
	height: 3rem;
	fill: $color-grey-light-1;
}

.icon-arrow-down {
	width: 3rem;
	height: 3rem;
	fill: $color-grey-light-1;
}

.icon-loading {
	width: 2.5rem;
	height: 2.5rem;
	fill: $color-grey-dark-3;
	animation: spin 2s linear infinite;
}

.icon-upload {
	width: 5rem;
	height: 5rem;
}
