*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	height: 100%; /* Make sure the body takes at least the full height of the viewport */
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
}

body {
	height: 100%; /* Make sure the body takes at least the full height of the viewport */
	background-color: var(--color-grey-dark-1);

  height: 100vh;
	font-family: $font-body;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}
